.pg-pageheader{
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 17px;
    .pg-pagetitle{
        font-size:28px;
        
    }
    .pg-subtitle{
        font-size: 12px;
    }
    .pg-breadcrumbs{    
        font-size: 12px;
    }
}
