<nav class="navbar navbar-expand-lg navbar-light pg-dark">
    <div class="pg-container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="/" class="nav-link" href="#">Home
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="Login" class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="Category">
                Category
            </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link" routerLink="ProductCard">
                Product Card
              </a>
            </li>
          <li class="nav-item">
            <a routerLink="Categoryhome" class="nav-link " >Category Home Page</a>
          </li>
          <li class="nav-item">
              <a routerLink="Posts" class="nav-link " >Posts</a>
            </li>
            <li class="nav-item">
              <a routerLink="Redux" class="nav-link " >Redux</a>
            </li>
  
        </ul>
      </div>
    </div>
  
  </nav>