<div class="pg-categories">
  <h2 class="pg-section-title">Categories</h2>
  <ul class="pg-category-list">
    <li class="pg-category-item">
      <a href="#" class="pg-category-link">All Products</a>
    </li>
    <li class="pg-category-item">
      <a href="#" class="pg-category-link">Business Cards</a>
    </li>
    <li class="pg-category-item">
      <a href="#" class="pg-category-link">Booklets</a>
    </li>
    <li class="pg-category-item">
      <a href="#" class="pg-category-link">Flyers</a>
    </li>
    <li class="pg-category-item">
      <a href="#" class="pg-category-link">Rollers</a>
    </li>
  </ul>
</div>