
.pg-product-card{
    border: none;
    box-shadow: 0 0 5px lightgray;
    /* border: 1px solid black; */
    background-color: #eeeeee;
    border-radius: 4px;
    /* margin-left: calc(3 * var(--base-margin)); */
    margin-bottom: 20px;
    margin-right: 20px;
    width: 280px;
}
.pg-product-card .pg-product-card-imagepane{
    height: 180px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pg-product-card .pg-product-card-content{
    padding: 15px;
}
.pg-product-card-image{
    width: 100%;
    height: auto;
    background-color: white;
}
.pg-product-card-starting .pg-label{
    /* margin-bottom: 0px; */
    font-size: 12px;
}
.pg-product-card-price .pg-label{
    font-size: 18px;
    font-weight: bold;
}
.pg-product-card .pg-product-card-name {
    width: 65%;
}
.pg-product-card .pg-label{
    line-height: 1;
}
.pg-product-card-image-area {
    width: 180px;
}

.pghide{
    display:none;
}